<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnPhpunitDeprecations="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="../vendor/autoload.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="event">
      <directory>./unit/Event</directory>
    </testsuite>
    <testsuite name="filter">
      <directory>./unit/Filter</directory>
    </testsuite>
    <testsuite name="bus">
      <directory>./unit/Bus</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../src/</directory>
    </include>
  </source>
</phpunit>
