<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php" colors="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src/</directory>
        </include>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="event">
            <directory>./unit/Event</directory>
        </testsuite>
        <testsuite name="filter">
            <directory>./unit/Filter</directory>
        </testsuite>
        <testsuite name="bus">
            <directory>./unit/Bus</directory>
        </testsuite>
    </testsuites>
</phpunit>
